<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @state.value %>
</p>

<p>
  <strong>Sensor:</strong>
  <%= @state.sensor %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
